
.contact{
    margin-bottom: 40px;
}
.appointment{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.disclaimer{
    text-align: center;
    color: red;
}
input[name = "patientName"],[name ="patientContact"]{
    width: 250px;
}

.appoint_btn{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width:768px){
    .appointment{
        display: flex;
        flex-direction: column;
    }
    input[name = "patientName"],[name = "patientContact"]{
        width: 180px;
    }
}